
.ipynb_checkpoints/Aufgabe1-checkpoint.ipynb
.ipynb_checkpoints/Programmieraufgabe2-checkpoint.ipynb
.ipynb_checkpoints/ProgrammieraufgabeII-checkpoint.ipynb
.ipynb_checkpoints/ProgrammieraufgabeIII-checkpoint.ipynb
.ipynb_checkpoints/ProgrammieraufgabeV-checkpoint.ipynb
.ipynb_checkpoints/ProgrammieraufgabeIV-checkpoint.ipynb
.ipynb_checkpoints/Bonusaufgaben-checkpoint.ipynb
