
.ipynb_checkpoints/Aufgabe1-checkpoint.ipynb
.ipynb_checkpoints/Programmieraufgabe2-checkpoint.ipynb
.ipynb_checkpoints/ProgrammieraufgabeII-checkpoint.ipynb
.ipynb_checkpoints/ProgrammieraufgabeIII-checkpoint.ipynb
